figure {
  margin: 0;
}

.featured {
  width: auto;
}

.loader {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .featured {
    max-height: 100px;
  }
}

@media screen and (min-width: 426px) {
  .loader {
    height: 260px;
    width: 100%;
  }
}