nav {
  width: 250px;
  position: fixed;
  left: -250px;
  overflow: auto;
  background: #e0e0e0;
  z-index:1;
  visibility: hidden;
  transition: left 0.5s, visibility 0.5s
}

.show {
  visibility: visible;
  left: 0;
}

