nav {
  width: 250px;
  height: 100%;
  position: fixed;
  left: -250px;
  overflow: auto;
  background: #e0e0e0;
  z-index:1;
  visibility: hidden;
  transition: left 0.5s, visibility 0.5s
}

.show {
  visibility: visible;
  left: 0;
}


.close-button img {
  width: 30px;
  height: 30px;
}

.btn-container {
  border-bottom: 1px solid black;
  text-align: right;
}
