header {
  padding: 10px;
  display: flex;
  height: 57px;
  background-color: #052b00;
  color: white;
}

h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.navicon {
  width: initial;
  height: initial;
}
